<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes Index</title>
</head>
<body>
    <h1>Browse Quotes</h1>
    <ul>
        <% quotes.forEach(quote => { %>
            <li>
                <a href="/quotes/<%= quote._id %>"><%= quote.author %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/quotes/new">Add a Quote</a>
    <a href="/">Home Page</a>
</body>
</html>